.itemsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.shopCard img {
  width: 50%;
  height: auto;
  margin-bottom: 40px;
}
.shopCard p {
  position: absolute;
  font-weight: bolder;
  font-size: larger;
  text-decoration: none;
  color: black;
  bottom: 0px;
}
.shopCard a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.shopCard {
  position: relative;
  width: 28%;
  height: auto;
  margin: 1%;
  padding: 1%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.clickCardTrue {
  position: relative;
  width: 28%;
  height: auto;
  margin: 1%;
  padding: 1%;
  border-radius: 10px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 0;
}

.clickCardTrue img {
  width: 50%;
  height: auto;
  margin-bottom: 40px;
  opacity: 0.5;
  z-index: -1;
}
.clickCardTrue p {
  position: absolute;
  font-weight: bolder;
  font-size: larger;
  text-decoration: none;
  bottom: 0px;
  color: rgb(0, 0, 0, 0.3);
}
.clickCardTrue a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
